/* font import */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}
body{
    background-color: #D8B96D;
}
.container{
    height: 80vh;
    background-color: aliceblue;
    margin: 50px 100px;
    border-radius: 50px;
    border :5px solid aliceblue;
    display: flex;
    justify-content: space-between;

    /* box-shadow: 10px 4px 0px rgba(192, 192, 192, 0.466); */

}
.container2{
    height: 90vh;
    background-color: aliceblue;
    margin: 50px 100px;
    border-radius: 50px;
    border :5px solid aliceblue;
}
.jsImg{
    height: 250px;
    width: 250px;
    margin-left: 20vw;
    margin-top: 30vh;
}
.contText{
    margin: 20vh;
    font-size: 120px;
    margin-left: 0px;
    margin-right: 20vw;
    margin-top: 30vh;
}
.contDiv1{
    margin-left: 1vw;
    margin-top: -3%;

}
.contDiv2{
    margin-right: 10vw;
}
.github{
    margin-left:140px;
}
.github:hover{
    font-size: 90px;
}
.githubDiv{
    margin-top: -150px;
}

.innerCont{
    width: 90%;
    height: 5vh;
    background-color: #dcefef;
    border-radius: 20px;
    margin: 1% 5%;
}
.container2B{
    display: flex;
}
.link{
    text-decoration: none;
    color: black;
}
.indexText{
    margin-left: 50%;
    padding-top: 2px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(81, 80, 80);
}
.leftContainer{
    width: 20vw;
    border-radius: 20px;
    margin-left: 2%;
    height: 80vh;
    background-color: #dcefef;
    text-align: center;
    font-size: 20px;
}
.leftInnerCont{

    height: 72vh;
    padding: 5%;
    margin:10px;
    overflow: scroll;
}
.indexBox{
    width: 16vw;
    height: 4vh;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-top: 3px;
    background-color: rgba(76, 76, 77, 0.642);
    color: white;
    font-weight: bold;
}
.rightCont2{
    height: 74vh;
    width: 58vw;
    background-color: #dcefef;
    padding: 20px;
    border-radius: 20px;
    margin-left: 1%;
    overflow: scroll;
}
.rightCont2::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
  .leftInnerCont::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
  .SmallLeftInnerCont{
    padding: 3px 0px;
    width: 15vw;
    height: 4vh;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .linkText{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.763);
    font-weight: bold;
  }
  .linkText:hover{
    color: white;
  }
  .SmallLeftInnerCont:hover{
    background-color:rgba(76, 76, 77, 0.288); 
    font-weight: bolder;
    color: white;
  }
  .div1{
    border: 3px solid white;
    height: 68vh ;
    /* height: 100%; */
    padding: 20px;

  }
  .centerHeading{
    font-size: 30px;
    text-align: center;
  }
  .div1a{
    background-color: #d8ba6d7a;
  }
  .arrowPng{
    height: 100px;
  }
  .pngAnchor{
    margin-top: 10px;
  }
.pngTag{
    margin-top: 8px;
    margin-left: 70%;
}
.jsPng{
    height: 150px;
    margin-left: 40%;
    margin-top: 10%;
}
p{
    font-weight: bold;
}
.contPadding{
    padding-left: 5%;
}